# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Japrogs\journal-cd5331d2d05a1d3736c3a6cc65ee4c589ee56e19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
